.modal_Background{
    position: absolute;
    width: 100vw;
    background-color: #0000008f;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    padding: 3rem ;
    
}
.modalContainer{
    width: 50%;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 5px;
}
.closemodelButton{
    float: right;
    color: var(--bg);
    font-size: 17px;
}
.modal_heading{
    font-size: 20px;
    font-weight: 500;
    margin: 1rem 0;
}
.modal_inputfeild{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}
.modal_inputfeild label{
    font-size: 15px;
    font-weight: 500;
}
.modal_inputfeild input, textarea{
    width: 100%;
    border: var(--border);
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
}
.modal_inputfeild textarea{
    resize: none;
    outline: none;
}
.modalButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.modalButtons button{
    width: 50%;
    border: var(--border);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg);
    color: var(--primary);
}
.modalButtons button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), rgb(116, 31, 162);
    border: transparent;
}
.modalButtons button:nth-child(2){
    background-color: red;
}


@media only screen and (max-width: 768px) {
    .modal_Background{
        padding: 2rem ;
        
    }
    .modalContainer{
        width: 100%;
    }
}