footer {
  background-color: var(--primary);
  padding: 3rem 1rem;
  margin-top: 3rem;
}
.footer {
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  margin: auto;
}
.footer .footer_col {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.4fr;
  gap: 1rem;
  text-align: left;
  width: 100%;
  margin-bottom: 3rem;
}
.footer .footer_col .col_logo {
  margin-right: 3rem;
}
.footer .footer_col .col_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .footer_col .col_logo svg {
  width: 200px;
}
.footer .footer_col .col_logo span{
    color: var(--bg);
    font-weight: 500;
}
.footer_links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer_links .col ul li {
  list-style: none;
  font-size: 13px;
  line-height: 2.5;
}
.footer_links .col ul li a{
    font-size: 13px;
    color: var(--light-black);
    transition: .3s;
}
.footer_links .col ul li a:hover{
  color: var(--black);
}
.footer_links .col ul li:nth-child(1){
    font-size: 13px;
    font-weight: 600;
    color: var(--secondry);
}
.footer_col .col_app{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_col .col_app img{
    width: 70px;
    height: 80px;
}
.col-app-links{
    display: flex;
    flex-direction: column;
    color: var(--bg);
}


/* -------------------- links  */
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.links a{
    font-size: 12px;
    font-weight: 500;
    color: var(--light-black);
}
.links a:hover{
  color: var(--black);
}
.footer_details{
    font-size: 13px;
    color: var(--light-black);
}


@media (max-width: 1224px){
    .footer {
        width: 100%;
      }
    .footer .footer_col {
        grid-template-columns: 1fr;
      }
      .links {
        gap: .5rem;
      }
}